* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.card-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background-color: rgba(247, 195, 195, 0.612);
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .card-container {
    gap: 30px;
  }
}
